<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eryi.mapper.OnSaleMapper">
    <insert id="addOnSale" parameterType="com.eryi.bean.po.OnSalePo">
        INSERT INTO onsale (
            id,
            order_num,
            price,
            amount,
            remain,
            start_time,
            end_time,
            listing_status,
            sale_price,
            sku_code,
            product_id
        )
        VALUES (
                   #{id},
                   #{orderNum},
                   #{price},
                   #{amount},
                   #{remain},
                   #{startTime},
                   #{endTime},
                   #{listingStatus},
                   #{salePrice},
                   #{skuCode},
                   #{productId}
               )
    </insert>
    <update id="editOnSale" parameterType="com.eryi.bean.po.OnSalePo">
        UPDATE onsale
        SET
            order_num = #{orderNum},
            price = #{price},
            amount = #{amount},
            remain = #{remain},
            start_time = #{startTime},
            end_time = #{endTime},
            listing_status = #{listingStatus},
            sale_price = #{salePrice},
            sku_code = #{skuCode}
        WHERE
            id = #{id}
    </update>

    <select id="getOnSaleList" resultMap="com.eryi.mapper.CommonResultMaps.OnSaleResultMap">
        SELECT * from onSale
    </select>

    <select id="findById" parameterType="java.lang.String" resultMap="com.eryi.mapper.CommonResultMaps.OnSaleResultMap">
        SELECT * from onSale where id = #{id}
    </select>
</mapper>
