<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eryi.mapper.OrderMapper">
    <!-- ResultMap 定义 -->
    <resultMap id="OrderResultMap" type="com.eryi.domain.Order">
        <id property="id" column="id" />
        <result property="orderNum" column="order_num" />
        <result property="state" column="state" />
        <result property="create_time" column="create_time" />
        <result property="update_time" column="update_time" />
    </resultMap>

    <!-- 查询所有订单 -->
    <select id="getAllOrders" resultMap="OrderResultMap">
        SELECT o.*, oi.id AS order_item_id, oi.order_id, oi.product_id, oi.quantity, oi.price
        FROM order o
                 LEFT JOIN order_item oi ON o.id = oi.order_id
    </select>

    <!-- 根据 id 查询订单 -->
    <select id="getOrderById" parameterType="String" resultMap="OrderResultMap">
        SELECT o.*, oi.id AS order_item_id, oi.order_id, oi.product_id, oi.quantity, oi.price
        FROM order o
                 LEFT JOIN order_item oi ON o.id = oi.order_id
        WHERE o.id = #{id}
    </select>

    <!-- 分页查询订单列表 -->
    <select id="getOrderList" parameterType="com.eryi.domain.query.OrderQuery" resultMap="OrderResultMap">
        SELECT o.*, oi.id AS order_item_id, oi.order_id, oi.product_id, oi.quantity, oi.price
        FROM order o
        LEFT JOIN order_item oi ON o.id = oi.order_id
        <where>
            <if test="orderNum != null">
                AND o.order_num LIKE CONCAT('%', #{orderNum}, '%')
            </if>
            <if test="state != null">
                AND o.state = #{state}
            </if>
            <if test="create_time != null">
                AND o.create_time = #{create_time}
            </if>
            <if test="update_time != null">
                AND o.update_time = #{update_time}
            </if>
        </where>
        LIMIT #{startIndex}, #{pageSize}
    </select>

    <!-- 添加订单 -->
    <insert id="addOrder" parameterType="com.eryi.domain.Order">
        INSERT INTO order (
            id,
            order_num,
            state,
            create_time,
            update_time
        ) VALUES (
                     #{id},
                     #{orderNum},
                     #{state},
                     #{create_time},
                     #{update_time}
                 )
    </insert>

    <!-- 更新订单 -->
    <update id="updateOrder" parameterType="com.eryi.domain.Order">
        UPDATE order
        SET
            order_num = #{orderNum},
            state = #{state},
            create_time = #{create_time},
            update_time = #{update_time}
        WHERE id = #{id}
    </update>

    <!-- 删除订单 -->
    <delete id="deleteOrder" parameterType="String">
        DELETE FROM order WHERE id = #{id}
    </delete>
</mapper>
