<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eryi.mapper.ProductMapper">
    <insert id="addProduct" parameterType="com.eryi.bean.po.ProductPo">
        INSERT INTO product (
            id,name, category_id, specs, tags, platform_division,
            imags, associated_prod_ids, coupon_discount_id,
            shiping_fee_temp_id, shop_id
        )
        VALUES (
                   #{id},#{name}, #{categoryId}, #{specs}, #{tags}, #{platformDivision},
                   #{imags}, #{associatedProdIds}, #{couponDiscountId},
                   #{shipingFeeTempId}, #{shopId}
               )
    </insert>

    <!-- 根据ID删除 -->
    <delete id="deleteById" parameterType="Long">
        DELETE FROM product WHERE id = #{id}
    </delete>

    <!-- 动态更新 -->
    <update id="updateById" parameterType="com.eryi.bean.po.ProductPo">
        UPDATE product
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="specs != null">specs = #{specs},</if>
            <if test="tags != null">tags = #{tags},</if>
            <if test="platformDivision != null">platform_division = #{platformDivision},</if>
            <if test="imags != null">imags = #{imags},</if>
            <if test="associatedProdIds != null">associated_prod_ids = #{associatedProdIds},</if>
            <if test="couponDiscountId != null">coupon_discount_id = #{couponDiscountId},</if>
            <if test="shipingFeeTempId != null">shiping_fee_temp_id = #{shipingFeeTempId},</if>
            <if test="shopId != null">shop_id = #{shopId}</if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 根据ID查询 -->
    <select id="selectById" parameterType="Long" resultMap="ProductResultMap">
        SELECT * FROM product WHERE id = #{id}
    </select>

    <!-- 查询所有 -->
    <select id="findAll" resultMap="ProductResultMap">
        SELECT * FROM product
    </select>
</mapper>
