<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eryi.mapper.RegionTemplateMapper">
    <insert id="addRegionTemplate" parameterType="com.eryi.bean.po.RegionTemplatePo">
        INSERT INTO region_template (
        fee_temp_id,area_code, area_name, first_unit, first_unit_price, next_unit, next_unit_price, free_condition
        )
        VALUES
        <foreach collection="list" item="regionTemplatePo" separator=",">
            (
            #{regionTemplatePo.shipingFeeTempId},#{regionTemplatePo.areaCode}, #{regionTemplatePo.areaName}, #{regionTemplatePo.firstUnit},
            #{regionTemplatePo.firstUnitPrice}, #{regionTemplatePo.nextUnit}, #{regionTemplatePo.nextUnitPrice},
            #{regionTemplatePo.freeCondition}
            )
        </foreach>
    </insert>
</mapper>
