<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eryi.mapper.ProductMapper">
    <resultMap id="ProductResultMap" type="com.eryi.bo.Product">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="categoryId" column="category_id" />
        <result property="images" column="images" />
        <result property="model" column="model" />
        <result property="state" column="state" />
        <result property="salePrice" column="sale_price" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>
    <insert id="addProduct" parameterType="com.eryi.bo.Product">
        INSERT INTO product (
            id,
            name,
            category_id,
            images,
            model,
            state,
            sale_price,
            create_time,
            update_time
        ) VALUES (
                     #{id},
                     #{name},
                     #{categoryId},
                     #{images},
                     #{model},
                     #{state},
                     #{salePrice},
                     #{createTime},
                     #{updateTime}
                 )
    </insert>
    <select id="getProductById" parameterType="com.eryi.bo.Product" resultType="com.eryi.bo.Product">
        select * from product where id=#{id};
    </select>
    <select id="getProductList" parameterType="com.eryi.bo.query.ProductQuery" resultMap="ProductResultMap">
        SELECT * FROM product
        <where>
            <if test="name != null">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="categoryId != null">
                AND category_id = #{categoryId}
            </if>
            <if test="model != null">
                AND model LIKE CONCAT('%', #{model}, '%')
            </if>
            <if test="state != null">
                AND state = #{state}
            </if>
            <if test="salePrice != null">
                AND sale_price = #{salePrice}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime}
            </if>
        </where>
        LIMIT #{startIndex}, #{pageSize}
    </select>
    <select id="deleteProductById" parameterType="com.eryi.bo.Product" resultType="com.eryi.bo.Product">

    </select>
    <select id="updateProduct" parameterType="com.eryi.bo.Product" resultType="com.eryi.bo.Product">

    </select>
</mapper>
