<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eryi.mapper.InventoryMapper">

    <!-- 定义 ResultMap -->
    <resultMap id="InventoryResultMap" type="com.eryi.bo.Inventory">
        <id property="id" column="id"/>
        <result property="productId" column="product_id"/>
        <result property="actualStock" column="actual_stock"/>
        <result property="lockStock" column="lock_stock"/>
        <result property="pendingInStock" column="pending_in_stock"/>
        <result property="pendingOutStock" column="pending_out_stock"/>
        <result property="warmUpLine" column="warm_up_line"/>
        <result property="inStcokPrice" column="in_stock_price"/>
        <result property="outStcokPrice" column="out_stock_price"/>
    </resultMap>

    <!-- 添加库存 -->
    <insert id="addInventory" parameterType="com.eryi.bo.Inventory">
        INSERT INTO inventory (
            id, product_id, actual_stock, lock_stock, pending_in_stock, pending_out_stock, warm_up_line, in_stock_price, out_stock_price
        ) VALUES (
                     #{id}, #{productId}, #{actualStock}, #{lockStock}, #{pendingInStock}, #{pendingOutStock}, #{warmUpLine}, #{inStcokPrice}, #{outStcokPrice}
                 )
    </insert>

    <!-- 更新库存 -->
    <update id="updateInventory" parameterType="com.eryi.bo.Inventory">
        UPDATE inventory
        SET product_id = #{productId},
            actual_stock = #{actualStock},
            lock_stock = #{lockStock},
            pending_in_stock = #{pendingInStock},
            pending_out_stock = #{pendingOutStock},
            warm_up_line = #{warmUpLine},
            in_stock_price = #{inStcokPrice},
            out_stock_price = #{outStcokPrice}
        WHERE id = #{id}
    </update>

    <!-- 根据 ID 查询库存 -->
    <select id="getInventoryById" parameterType="string" resultMap="InventoryResultMap">
        SELECT *
        FROM inventory
        WHERE id = #{id}
    </select>

    <update id="lockStockByProductId" parameterType="com.eryi.bo.OrderItem">
        UPDATE inventory
        SET lock_stock = lock_stock - #{count},
            actual_stock = actual_stock + #{count}; where product_id=#{productId};
    </update>

    <!-- 分页查询库存列表 -->
    <select id="getInventoryList" parameterType="com.eryi.bo.query.InventoryQuery" resultMap="InventoryResultMap">
        SELECT *
        FROM inventory
        <where>
            <if test="productId != null">
                AND product_id LIKE CONCAT('%', #{productId}, '%')
            </if>
            <if test="actualStock != null">
                AND actual_stock LIKE CONCAT('%', #{actualStock}, '%')
            </if>
            <if test="lockStock != null">
                AND lock_stock LIKE CONCAT('%', #{lockStock}, '%')
            </if>
            <if test="pendingInStock != null">
                AND pending_in_stock LIKE CONCAT('%', #{pendingInStock}, '%')
            </if>
            <if test="pendingOutStock != null">
                AND pending_out_stock LIKE CONCAT('%', #{pendingOutStock}, '%')
            </if>
            <if test="warmUpLine != null">
                AND warm_up_line = #{warmUpLine}
            </if>
            <if test="inStcokPrice != null">
                AND in_stock_price = #{inStcokPrice}
            </if>
            <if test="outStcokPrice != null">
                AND out_stock_price = #{outStcokPrice}
            </if>
        </where>
        LIMIT #{startIndex}, #{pageSize}
    </select>

</mapper>
